parameters:
    level: 7
    inferPrivatePropertyTypeFromConstructor: true
    ignoreErrors:
        - '{Instanceof between .*Microsoft.* will always}'
    paths:
        - lib
    checkMissingIterableValueType: false
