parameters:
  ignoreErrors:
    - '#ReflectionFunctionLike will always evaluate to false#'
    - '#Instanceof between Microsoft\\PhpParser\\Token and Microsoft\\PhpParser\\Node\\Expression\\Variable will always evaluate#'
